:root {
  --profile-card-size: 4rem;
  --profile-card-corner: 1rem;
  --profile-card-text-opacity: 0.6;
  --profile-card-anchor-offset: 2rem;
  --profile-card-text-color: hsl(217, 45%, 22%);
  --profile-card-shadow-color: hsla(217, 45%, 22%, 0.08);
  --profile-card-background-color: hsl(0, 0%, 100%);
}

.profile-card {
  opacity: 0.5;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 999px;
  width: var(--profile-card-size);
  height: var(--profile-card-size);
  right: var(--profile-card-anchor-offset);
  bottom: var(--profile-card-anchor-offset);
  background: var(--profile-card-background-color);
  box-shadow: 0px 0px 24px var(--profile-card-shadow-color);
  transition: all 300ms ease-in-out;
}

.profile-card.rounded {
  border-radius: var(--profile-card-corner);
}

.profile-card img {
  right: 0;
  height: 100%;
  cursor: pointer;
  user-select: none;
  position: absolute;
  border-radius: 999px;
  transition: all 300ms ease-in-out;
}

.profile-card.rounded img {
  border-radius: var(--profile-card-corner);
}

.profile-card a {
  color: var(--profile-card-text-color);
  font-size: calc(var(--profile-card-size) * 0.26);
  opacity: var(--profile-card-text-opacity);
  transition: all 300ms ease-in-out;
}

.profile-card .social {
  opacity: 0;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  justify-content: space-between;
  padding: calc(var(--profile-card-size) * 0.26);
  width: calc(100% - var(--profile-card-size));
  transition: all 300ms ease-in-out;
}

.profile-card:hover {
  opacity: 1;
  width: calc(var(--profile-card-size) * 3);
}

.profile-card:hover .social {
  opacity: 1;
}

.profile-card:hover img {
  transform: scale(0.8);
}

.profile-card a:hover {
  opacity: 1;
}